<div class="welcome-wrapper">
  <div class="welcome-content">
    <div class="welcome-left">
      <div class="hero-blur"></div>
      <div class="hero-content">
        <h1 class="welcome-title">Organize your tasks, simplify your life</h1>
        <p class="welcome-text">
          Experience a new way of managing your daily tasks with our intuitive and elegant todo app.
          Start organizing your life today.
        </p>
        <div class="hero-actions">
          <a href="/users/register" class="btn btn-primary btn-lg">Get Started Free</a>
          <a href="/users/login" class="btn btn-outline-secondary btn-lg">Sign In</a>
        </div>
      </div>
    </div>
    <div class="welcome-right">
      <img src="../img/todo-illustration.svg" alt="Todo Illustration" class="hero-image" />
    </div>
  </div>
</div>